<!DOCTYPE html>
<html lang="en">
<head>
  <title>Restaurant | Admin</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="../styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="../styles/header.css" type="text/css" />
  <link rel="stylesheet" href="../styles/admin.css" type="text/css" />
  <link href=“https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap” rel=“stylesheet”>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/v4-shims.js"></script>

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/admin.js" async></script>
  <!-- App JS -->



  <!-- NOT SURE IF WE NEED jQuery BELOW -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>
  <body>
    <header>
      <%- include('partials/header.ejs') %>
    </header>
      <div class="main-container">
        <div class="all-orders-container">
          <% if (newOrders.length !== 0) { %>
            <h3 class="order-section" id="new-orders">New Orders</h3>
            <% for (const order of newOrders) { %>
              <article class="order-container new-order" id=<%=order.id%>>
                <div class="id-container">
                  <p class="order-number-title title">Order Number:</p>
                  <p><%=order.id %></p>
                </div>
                <div class="user-id-container">
                  <p class="order-number-title title">User ID:</p>
                  <p><%=order['user_id']%></p>
                </div>
                <div class="all-items-container">
                  <p class="all-items-title title">Items</p>
                  <% for (const item in order.items) { %>
                  <div class="item-container">
                    <p class="item-quantity"><%=order.quantity[item]%></p>
                    <p class="item-price"><%=order.items[item]%></p>
                  </div>
                  <% } %>
                </div>
                <div class="price-container">
                  <p class="order-total-text title">Order Total</p>
                  <div class="total-price-container">
                    <p class="order-total-price">$<%=(Math.round(order['total_price']*100)/100).toFixed(2)%></p>
                  </div>
                </div>
              </article>
            <% } %>
          <% } %>
          <% if (confirmedOrders.length !== 0) { %>
            <h3 class="order-section" id="confirmed-orders">Confirmed Orders</h3>
            <% for (const order of confirmedOrders) { %>
              <article class="order-container confirmed-order-container" id=<%=order.id%>>
                <div class="id-container">
                  <p class="order-number-title title">Order Number:</p>
                  <p><%=order.id %></p>
                </div>
                <div class="user-id-container">
                  <p class="order-number-title title">User ID:</p>
                  <p><%=order['user_id']%></p>
                </div>
                <div class="all-items-container">
                  <p class="all-items-title title">Items</p>
                  <% for (const item in order.items) { %>
                  <div class="item-container">
                    <p class="item-quantity"><%=order.quantity[item]%></p>
                    <p class="item-price"><%=order.items[item]%></p>
                  </div>
                  <% } %>
                </div>
                <div class="price-container">
                  <p class="order-total-text title">Order Total</p>
                  <div class="total-price-container">
                    <p class="order-total-price">$<%=(Math.round(order['total_price']*100)/100).toFixed(2)%></p>
                  </div>
                </div>
                <div class="btn-container">
                <button type="button" class="btn close-order-btn">Close Order</button>
                </div>
              </article>
            <% } %>
          <% } %>
          <h3 class="order-section" id="closed-orders">Closed Orders</h3>
          <% for (const order of closedOrders) { %>
            <article class="order-container" id=<%=order.id%>>
              <div class="id-container">
                <p class="order-number-title title">Order Number:</p>
                <p><%=order.id %></p>
              </div>
              <div class="user-id-container">
                <p class="order-number-title title">User ID:</p>
                <p><%=order['user_id']%></p>
              </div>
              <div class="all-items-container">
                <p class="all-items-title title">Items</p>
                <% for (const item in order.items) { %>
                <div class="item-container">
                  <p class="item-quantity"><%=order.quantity[item]%></p>
                  <p class="item-price"><%=order.items[item]%></p>
                </div>
                <% } %>
              </div>
              <div class="price-container">
                <p class="order-total-text title">Order Total</p>
                <div class="total-price-container">
                  <p class="order-total-price">$<%=(Math.round(order['total_price']*100)/100).toFixed(2)%></p>
                </div>
              </div>
            </article>
          <% } %>
        </div>
        <div class="button-container">
          <div id="admin-form-container">
            <div class="input-container">
              <label for="time-input">Estimated Pickup Time</label>
              <input type="number" class="form-control" id="time-input" value="1" placeholder="Completion Time" min="1" max="200">
            </div>
            <button type="submit" class="btn btn-block mb-2 rounded" id="admin-submit-btn">Submit</button>
          </div>
        </div>
      </div>
  </body>
</html>
