<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restaurant | Confirmed</title>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="../styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="../styles/header.css" type="text/css" />
  <link rel="stylesheet" href="../styles/confirmation.css" type="text/css" />


  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/v4-shims.js"></script>

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- App JS -->



  <!-- NOT SURE IF WE NEED jQuery BELOW -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <header>
    <%- include('partials/header.ejs') %>
  </header>
   <div class="everything-middle">
    <div class="container all-container">
      <h1> Thanks for your order!</h1>
      <h4>You'll be munching in no time! We've sent you a text confirmation.</h4>
      <!-- EJS variable for phone number goes here -->
      <div class="jumbotron jumbotron-fluid">

        <div class="delivery-time">
          <p id="eta">Delivery Time<br>Shadee, Put the estimated time here!</p>
        </div>
          <div class="delivery-address">
            <p id="mailing-address">Pick Up Address<br>162 Water St. Vancouver, BC</p>
          </div>
      </div>

    </div>

      <div class="container-fluid">
        <div id="order-details-container">
          <% for (let i = 0; i < order.items.length; i++) { %>
          <div class="item-container">
            <div class="item-name-container">
              <p class="item-quantity"><%=order.quantity[i]%></p>
              <p class="item-name"><%=order.items[i]%></p>
            </div>
            <p>$<%=(Math.round(order['item_price'][i]*order.quantity[i]*100)/100).toFixed(2)%></p>
          </div>
          <% } %>
        </div>
        <hr>
        <div class="charge-breakdown">
          <div id="subtotal">
            <span>Your Subtotal</span>
            <span>$<%= (Math.round(order.total_price).toFixed(2))%></span>
          </div>
          <div id="tax">
            <span>Taxes & Fees</span>
            <span>$<%= (order.total_price * .12) %></span>
          </div>
          <div id="totalcharged">
            <span>Total Charged</span>
            <span>$<%= (order.total_price * .12) + order.total_price %></span>
          </div>
        </div>
      </div>
       <div class="button-container">
         <form action="/users/orders" method="GET">
          <button type="submit" class="btn">View Order Status</button>
        </form>
       </div>

   </div>
    </div>


</body>

</html>
