<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Restaurant | Order</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="../styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="../styles/header.css" type="text/css" />
    <link rel="stylesheet" href="../styles/dishes.css" type="text/css" />
    <link rel="stylesheet" href="../styles/live-order.css" type="text/css" />


    <!-- NOT SURE IF WE NEED jQuery BELOW -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- APP JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/order.js" async></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <%- include('partials/header.ejs') %>
    </header>
    <br>
    <section class="container-fluid main-container text-center">
      <div class="row">
        <div class="col-lg-8 menu-container">
          <h3 class="menu-section" id="section1">Starters</h3>
          <% for (const dish in apps) { %>
            <div class="container-fluid dish-container" id=<%=apps[dish].id%>>
              <div class="row item-container">
                <div class="col-lg-8 item-info">
                  <p class="item-name">
                    <%=apps[dish].name%>
                  </p>
                  <p class="item-description">
                    <%=apps[dish].description%>
                  </p>
                  <p class="item-price">
                    $<%=apps[dish].price/100 + '.00'%>
                  </p>
                </div>
                <div class="container col-4 text-center align-middle">
                  <button type="button" class="btn add-item-btn">Add Item</button>
                </div>
              </div>
            </div>
          <% } %>
          <h3 class="menu-section" id="section1">Mains</h3>
          <% for (const dish in apps) { %>
            <div class="container-fluid dish-container" id=<%=mains[dish].id%>>
              <div class="row item-container">
                <div class="col-lg-8 item-info">
                  <p class="item-name">
                    <%=mains[dish].name%>
                  </p>
                  <p class="item-description">
                    <%=mains[dish].description%>
                  </p>
                  <p class="item-price">
                    $<%=mains[dish].price/100 + '.00'%>
                  </p>
                </div>
                <div class="container col-4 text-center align-middle">
                  <button type="button" class="btn add-item-btn">Add Item</button>
                </div>
              </div>
            </div>
          <% } %>
          <h3 class="menu-section" id="section1">Desserts</h3>
          <% for (const dish in desserts) { %>
            <div class="container-fluid dish-container" id=<%=desserts[dish].id%>>
              <div class="row item-container">
                <div class="col-lg-8 item-info">
                  <p class="item-name">
                    <%=desserts[dish].name%>
                  </p>
                  <p class="item-description">
                    <%=desserts[dish].description%>
                  </p>
                  <p class="item-price">
                    $<%=desserts[dish].price/100 + '.00'%>
                  </p>
                </div>
                <div class="container col-4 text-center align-middle">
                  <button type="button" class="btn add-item-btn">Add Item</button>
                </div>
              </div>
            </div>
          <% } %>
        </div>
        <div class="col-lg-4 col-md-12 text-center order-container">
          <div class="price-order-container">
            <div class="container live-order">
              <div class="container" id="your-order">
                <p>Your Order</p>
              </div>
              <div class="order-item-container"></div>
              <div id="empty-order-elements">
                <div class="text-center" id="empty-order-icon">
                  <i class="fas fa-shopping-bag"></i>
                </div>
                <div class="text-center" id="empty-order-message">
                  <p>Add some items!</p>
                </div>
              </div>
              <div class="text-center d-flex" id="checkout-button">
                <button type="button" class="btn checkout-btn btn-block disabled">Checkout</button>
              </div>
            </div>
            <div class="container" id="total-price-container">
              <h4>Order Total:</h4>
              <p id="order-total">$0.00</p>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>
  </body>
</html>
